.candle {
    margin-left: 50px;
    margin-top: 50px;
    padding: 0;
    font-size: 8px;
    width: 6em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.holder-lip {
    width: 70%;
    height: 4%;
    border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
}

.holder-cup {
    margin-top: -0.1em;
    width: 50%;
    height: 5%;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.holder-stem {
    margin-top: -0.15em;
    width: 20%;
    height: 20%;
}

.holder-base {
    margin-top: -0.1em;
    width: 100%;
    height: 6%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.holder {
    background-color: #b5a642;
}

.wax {
    width: 40%;
    height: 15em;
    background-color: palegoldenrod;
    border-radius: 10% 10% 0 0 / 2% 2% 0 0;
    transform-origin: bottom;
    animation: waxburn 120s linear forwards;
}

.flame-wrap {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    animation: follow-wax 120s linear forwards;
}

.wick {
    background-color: black;
    margin-top: -0.5em;
    width: 3%;
    height: 20%;
}

.flame {
    box-sizing: border-box;
    width: 25%;
    height: 28%;
    background-color: #6988bddd;
    border-radius: 125% 0 75% 50% / 75% 0 125% 50%;
    transform: scaleX(0.8) rotateZ(-45deg);
    box-shadow: 0.6em -0.7em 0.5em 1em #ffa84e;
    animation: flame 3s linear infinite;
}

@keyframes follow-wax {
    to {
        transform: translateY(13em);
    }
}

@keyframes waxburn {
    to {
        transform: scaleY(0.1);
    }
}

@keyframes flame {
    17% {
        transform: translateX(-0.1em) skewX(5deg) scaleY(1.05) scaleX(0.8) rotateZ(-45deg);
    }
    34% {
        transform: translateY(-0.05em) translateX(0.1em) skewX(-5deg) scaleY(1.1) scaleX(0.8) rotateZ(-45deg);
    }
    50% {
        transform: translateY(-0.1em) scaleY(1.15) scaleX(0.8) rotateZ(-45deg);
    }
    66% {
        transform: translateY(-0.05em) translateX(-0.1em) skewX(5deg) scaleY(1.1) scaleX(0.8) rotateZ(-45deg);
    }
    83% {
        transform: translateX(0.02em) skewX(-5deg) scaleY(1.05) scaleX(0.8) rotateZ(-45deg);
    }
}